<div>
  <span style="font-size: 3em">Team</span>
  <input [(ngModel)]="teamName">
  <button (click)="createTeam()" class="buttonSave" >Add</button>
  <div *ngFor="let team of teams;">
    <span style="font-size: 5em">{{ team.teamName }}</span>
    <button class="button" (click)="deleteTeam(team.id)"><svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg></button>
    <div class="team">
      <!-- Bucle *ngFor para recorrer las filas del array bidimensional -->
      <div class="card" *ngFor="let member of teamMembers | filterByTeamId: team.id">
        <img [src]="member.image" alt="">
        <span>{{ member.name }}</span>
        <span>Ability: {{ member.ability }}</span>
        <span>Object: {{ member.object }}</span>
        <span>Tera: {{ member.tera }}</span>
        <span>Move1: {{ member.move1 }}</span>
        <span>Move2: {{ member.move2 }}</span>
        <span>Move3: {{ member.move3 }}</span>
        <span>Move4: {{ member.move4 }}</span>
        <span>Nature: {{ member.nature }}</span>
        <span>HP: {{ member.hp }}</span>
        <span>ATK: {{ member.attack }}</span>
        <span>DEF: {{ member.defense }}</span>
        <span>SPATK: {{ member.specialAttack }}</span>
        <span>SPDEF: {{ member.specialDefense }}</span>
        <span>SPD: {{ member.speed }}</span>

        <button class="button" (click)="deletePokemon(member.teamId, member.id)"><svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg> </button>
      </div>
    </div>
  </div>
</div>
